<div class="col-md-6 offset-md-3">
    <h3> Contact-Us </h3>
<form>
    <input type="text" name="name" placeholder="Enter your name" class="name" required
    [(ngModel)] = "name">
    <input type="email" name="emailaddress" placeholder="Enter your email" class="email" required
    [(ngModel)] = "email">
<textarea rows="4" cols="50" name="message" placeholder="Please enter your message" class="message" required 
[(ngModel)] = "message"></textarea>

<div class="btns">
    <button type="submit" routerLink="app-log-in-page"(click)="reachUs()">Send</button>
   
</div>

</form>
</div>
