/*section{
    background-image: url(https://live.staticflickr.com/5296/5468205909_7beb1787b4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/
p{
    color: red;
}

