<!--<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Card</title>
        <link rel="stylesheet" href="profile-card.component.css">
    </head>
    <body>
        <div class="container">
            <div class="profile-box">
                <img src="busManagement\src\assets\Images\menu.png" class="menu-icon">
                <img src="busManagement\src\assets\Images\setting.png" class="setting-icon">
                <img src="busManagement\src\assets\Images\profile-pic.png" class="profile-pic">
            </div>
        </div>
    </body>
</html>-->
<!--<!DOCTYPE html>
<html>
<head>
	<title>Profile Card - CSS card tutorial</title>
	<link rel="stylesheet" href="profile-card.component.css">
</head>
<body>
      <div class="card-container">
      	 <span class="pro">PRO</span>
      	 <img class="round" src="images/users.jpg" alt="user">
      	 <h3>Kaushal Rao</h3>
      	 <h6>India</h6>
      	 <p>UI Designer and <br/>Front-end Developer </p>
      	 <div class="buttons">
      	 	<button class="primary">Message</button>
      	 	<button class="primary follow">Following</button>
      	 </div>

      	 <div class="skills">
      	 	<h6>Skills</h6>
      	 	<ul>
      	 		<li>UI/UX</li>
      	 		<li>Front End Development</li>
      	 		<li>HTML</li>
      	 		<li>CSS</li>
      	 		<li>JavaScript</li>
      	 		<li>React</li>
      	 		<li>Angular</li>
      	 	</ul>
      	 </div>
      </div>
</body>-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS User Profile Card</title>
	<link rel="stylesheet" href="profile-card.component.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="left">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/656/205/desktop-wallpaper-2021-girls-dpz-girls.jpg" 
        alt="user" width="100">
        <h4>Yuvedha</h4>
         <p>Java Fresher</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>yuve2412@gmail.com</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>6382533537</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>All projects</h4>
                    <ul>
                        <li>Console project</li>
                        <li>Hibernate project</li>
                    </ul>
                 </div>
                 <div class="data">
                   <h4>Recent</h4>
                   <p>Rest-api project</p>
                    <p>Fullstack project</p>
              </div>
            </div>
        </div>
      
        <div class="social_media">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>
    </div>
</div>

</body>
</html>