/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("C:\Users\Lenovo\Desktop\Angular project\busManagement\src\assets\Images\background.png");
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
}