<!doctype html>
<html>
<head>
     <title>Bus Management Home page</title>
     <link rel="stylesheet" type="text/css" href="home-page.component.css">
</head>
<body>
 
    <header>
      <section>
      <div class="main">
        <div class="logo">
          <img src="..\assets\Images\logo.jpg">
        </div>
       <!----<ul>
          <li class="active"><a href="app-log-in-page">Login</a></li>
          <li class="active"><a href="app-registration-form">Register</a></li>
          <li class="active"><a href="app-profile-card">Profile Card</a></li>
          <li class="active"><a href="app-feed-back-form">Feed Back</a></li>
        </ul>-->
      </div>
      <div class="title">
        <h3>WELCOME TO PURPLE BUS</h3>

      <!-- <div>
          <button  (click)=checkLogin() class="button"  ><span></span>Login</button>
         </div>
         <button (click) = checkLogin() class = "btn btn-success" style="margin-left: 10px">LOGIN</button>-->
         <ul>
          <li class="active"><a href="app-log-in-page">Login</a></li>
         </ul>
        </div>


      
    </section>
    </header>
</body>
</html>

